.google-search-map{
    position: relative;
    font-size: 14px;
    padding: 20px;
}
.search-box {
    position: relative;
    width: 200px;
    height: 32px;
    top: 0;
    padding: 0 12px;
    border-radius: 3px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    outline: none;
}

.button {
    position: relative;
    right: 0;
    width: 72px;
    height: 38px;
    top: 0;
    outline: none;
}
